*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #ca17d8;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    width: 50%;
    margin: 0px auto;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear:both;
}
nav{
    background: whitesmoke;
    height: 40px;
    border-bottom: 1px black;
}
#content{
    float: left;
    width: 100%;
}