*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
body{
    background-image: url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;

    font-family: 'Times New Roman', Times, serif;
}
#containerBienvenida{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    font-size: 37px;
    color: rgba(5, 5, 5, 0.904);
    -webkit-text-stroke: 2px rgb(5, 5, 5);
}
.logo{
    border-radius: 50%;
}
#containerInfo{
    width: 50%;
    margin: 0px auto;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    background-color: #8d492559;
}

nav ul li{
    float: left;
    list-style: none;
    line-height: 30px;
    list-style: none;
    padding: 0;
    margin: 10px;
}
.clearfix{
    clear:both;
}
nav{
    background: rgb(255, 254, 254);
    height: 40px;
    border-bottom: 1px black;
    text-align: center;
}
#content{
    display: flex;
    width: 100%;
    margin: 0% auto;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
}
.content article{
font-size: 100px;
}
.article{
float: left;
width: 100%;
margin: 1px auto;
flex-wrap: wrap;
}
.produ{
    text-align: center;
    background-color: #cf915c;
}
.des{
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 140px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
footer{
    text-align: center;
}
.icon{
    float: right;
    margin: auto;
}
.pago{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}